
body, html {
    font-family: "Sans Serif";
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#diva, #divb, #divc {
    border-radius: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
}

.rotranselement {
    transform-origin: center top;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    margin:0;
}